// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dump {
  border: 1px solid #444;
  background: #888;
  color: #FFF;
  padding: 10px 20px;
  font-family: Monospace;
}
